.content-apropos {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 31px auto 31px auto;

}

@media only screen and (max-width : 768px) {
    .content-apropos {
        width: 100%;
        margin: 0;
    }
}