.slider {

    height: 415px;
    margin: 2% 0;
    position: relative;
    /*width: 100%;*/
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

/*pourquoi on doit le définir 2x*/
.vectorPrev {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 2%;

}

.vectorNext {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 2%;

}

.images_appart {

    border-radius: 25px;
    width: 100%;
    transform: scale(1);
    height: 415px;

}

.images_appart img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.625rem;

}



.numero_img_courante {
    z-index: 1;
    position: absolute;
    bottom: 3%;
    left: 50%;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
}

/*
.numero_img_courante:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}*/