.Fiche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Infos-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

.Infos-content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.Titre-lieu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 23px;
}

.Titre-lieu h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0;
}

.Titre-lieu h3 {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin: 0;


}

.TagsBox {
    display: flex;
    flex-flow: row;

}

.Tags {

    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    padding: 2px 10px 0;
    text-align: center;
    margin-right: 10px;
    line-height: 142.6%;

}

.Proprio-note {
    display: flex;
    flex-flow: column-reverse;
    gap: 15px;
    justify-content: space-between;

    align-items: flex-end;
}

.Proprio-note h2 {

    width: 93px;
    height: 52px;
    text-align: right;
}

.Proprio_card {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.Proprio_card img {
    height: 64px;
    width: 64px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-left: 10px;
}

.Notes img {
    width: 30px;
    height: 30px;
}

.Stars {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.Collapse-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    gap: 5%;
}

.description {
    width: 45%;
}

.equipmentList {
    list-style: none;
}

@media only screen and (max-width : 768px) {
    .Titre-lieu {
        gap: 10px;
    }

    .Titre-lieu h1 {
        font-size: 18px;

    }

    .Titre-lieu h2 {
        font-size: 14px;
    }

    .Infos-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
    }

    .Collapse-content {
        display: flex;
        flex-direction: column;

    }

    .description {
        width: 100%;
    }

    .Proprio-note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Proprio_card {
        align-items: center;
    }


    .Tags {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 4px 20px;
        border-radius: 5px;
    }

    .Collapse-content .titre-collapse {
        font-size: 13px;
        height: 30px;
    }

    .Collapse-content .titre-collapse img {
        width: 16px;
        height: 9px;
    }

    .Fiche .description-collapse {
        font-size: 12px;
    }

    .Notes img {
        width: 15px;
        height: 15px;
    }

    .Stars {
        gap: 7px;
    }

    .Proprio_card img {
        width: 32px;
        height: 32px;
    }

    .Proprio_card h2 {
        width: 52px;
        height: 33px;
        font-size: 12px;
    }
}