footer {
    background-color: #000000;

    display: flex;
    justify-content: space-around;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
}


p {
    color: #ffffff;
    text-align: center;
}

.k-logo-footer {
    display: block;
    color: #ffffff;
    width: 120px;
}