.k-header {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

.k-header img {
    display: flex;
    align-items: flex-start;
    color: #FF6060;
    width: 9rem;

}

.k-menu {
    color: #FF6060;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;

}

.k-menu a {
    padding-left: 3.5rem;
    font-size: 24px;
    font-weight: 500;
    color: #FF6060;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    text-decoration: underline;
    color: #FF6060;
}

@media only screen and (max-width : 768px) {
    .k-header img {
        width: 7rem;
    }

    .k-menu {
        font-size: 12px;
        text-transform: uppercase;
    }

    .k-menu a {
        font-size: 12px;
        padding-left: 0.8rem;
    }

}