.k-home-card a {
	text-decoration: none;
	filter: saturate(1);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition-property: transform;
	transition-duration: 0.4s;
}

.k-home-card a:hover {
	filter: saturate(2);
	border: #FF6060 solid;
	border-radius: 10px;
	transform: scale(1.05);
}

.k-home-card {
	display: flex;
	justify-content: center;
	align-items: center;

}

.card {
	display: flex;
	border-radius: 10px;
	position: relative;
	width: 340px;
	height: 340px;
	background: #FF6060;
	overflow: hidden;

}

.card h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	position: absolute;
	padding: 20px;
	bottom: 0;
	z-index: 3;
}


.k-home-card img {
	display: flex;
	width: 100%;
	object-fit: cover;

}

.k-home-overlay {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width : 768px) {
	.card {
		width: 600px;

	}
}