.k-home-card {
	text-decoration: none;
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	border-radius: 10px;
	position: relative;
	width: 340px;
	height: 340px;
	background: #FF6060;
	overflow: hidden;
}

.k-home-card:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}


.k-home-card h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	position: absolute;
	padding: 20px;
	bottom: 0;
	z-index: 3;

}


.k-home-card img {
	display: flex;
	width: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: all 300ms ease-out;

}

.k-home-card img:hover {
	display: flex;
	width: 100%;
	object-fit: cover;
	transform: scale(1.1);
	transition: all 300ms ease-out;

}

.k-home-overlay {
	background: linear-gradient(hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .502));
	border-radius: inherit;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;

}

@media only screen and (max-width : 768px) {
	.card {
		width: 600px;
	}

	.k-home-card {
		width: auto;
		height: auto;
	}
}