.contenu {
    min-height: auto;
    margin: 40px auto 0 auto;
    padding-left: 8%;
    padding-right: 8%;
}

main {
    margin: 0;
}

@media only screen and (max-width : 768px) {
    .contenu {
        padding-left: 6%;
        padding-right: 6%;
    }
}