.contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
}

@media only screen and (max-width : 768px) {}